.yourResults {
  font-size: 2rem;
  color: orange;
}

.yourResults__select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.yourResults__select-el {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.yourResults__select-btn {
  padding: 2px 5px;
  border-radius: 10px;
}

.yourresults__chart {
  background-color: white;
  width: 80vw;
}

.yourresult__goback {
  padding: 5px 10px;
}
