.UpdateProfile__header {
  font-size: 2rem;
}

.updateprofile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.updateprofile__form-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.updateprofile__form-el-input {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 5px 10px;
}

.updateprofile__form-btn {
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 5px 20%;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
}

.updateprofile__form-btn:hover {
  background-color: rgb(152, 152, 152);
}

.link-element {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: rgb(135, 135, 135);
  text-decoration: none;
}
