.overwrite {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list-el-link {
  text-decoration: none;
  color: white;
}

.workout-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
