.modal {
  width: 90%;
  height: 90%;
  background-color: black;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

.modal__dataStorage {
  overflow-y: scroll;
  max-height: 40%;
  min-width: 50%;
  border: 1px solid white;
}

.modal-div {
  margin: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-span {
  margin: 30px 20px;
}
